<h2>{{this.name}}</h2>
<p>Capital: {{this.capital}}</p>
<p>Population: {{this.population}}</p>
<ul>
  {{#each this.languages}}
    <li class="second">{{name}}</li>
  {{/each}}
</ul>
<img src='{{this.flag}}' alt='{{this.demonym}}' width="400" height="600">